.option-label{
  background-color: white;
  padding: 1rem;
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border: 2px outset #8c858c;
}

.principal-card{
    width: 7rem;
    min-height: 2.6rem;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    cursor: pointer;
    font-size: 20px;
}
